    /* .container {
          margin: 20px;
          max-width: auto;
          color: white
    }

    .boxes1 {
          padding-top: 20px;

    }


    .boxes1 .box1 {
          background-color: beige;
          border: 20px;
          margin: 20px;
          display: inline;
          padding: 20px;

    }

    .boxes1 .box2 {
          background-color: cadetblue;

          padding: 20px;
          max-height: 30px;
          border: 20px;
          margin: 20px;
          display: block;
    }

    .boxes1 .box3 {
          background-color: black;

          border: 20px;
          margin: 20px;
          padding: 20px;
          display: inline-block;
    }


    /* .boxes2 {
          padding-top: 20px;
          display: inline;



    }


    .boxes2 .box1 {
          background-color: beige;

          margin: 20px;
          padding: 20px;


    }

    .boxes2 .box2 {
          background-color: cadetblue;

          padding: 20px;

          border: 20px;
          margin: 20px;
    }

    .boxes2 .box3 {
          background-color: black;

          border: 20px;
          margin: 20px;
          padding: 20px;
    }


    .boxes3 {
          padding-top: 100px;

          display: inline;
          height: 200px;

    }


    .boxes3 .box1 {
          background-color: beige;
          border: 20px;
          margin: 20px;
          padding: 20px;

    }

    .boxes3 .box2 {
          background-color: cadetblue;

          padding: 20px;

          border: 20px;
          margin: 20px;
    }

    .boxes3 .box3 {
          background-color: black;

          border: 20px;
          margin: 20px;
          padding: 20px;
    } */