.card {
      background-color: rgb(255, 255, 255);

      color: black;
      padding: 20px;
      width: 80%;
      max-width: 500px;
      border-radius: 10px;
      margin: 20px;

}

.card:hover {
      scale: 1.1;
      box-shadow: 2px 2px 2px 2px rgb(224, 222, 222);
}


.products-wrapper {
      display: flex;
      flex-direction: row;
}