 #container {
       color: black;
       background-color: rgb(39, 31, 31);

       top: 30px;
       box-sizing: border-box;


       margin: 30px 200px 20px 200px;

       border-radius: 30px;

       text-align: center;

 }



 .button {
       border-radius: 20px;
       padding: 10px;
 }

 input {
       padding: 10px;
       border-radius: 20px;

 }

 span {


       background: linear-gradient(to right, rgb(205, 41, 41) 20%, rgb(222, 215, 215) 100%);
       -webkit-text-fill-color: transparent;
       -webkit-background-clip: text;
 }